@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Section Starts */
.cHeader {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
}

.navigationTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: rgb(161, 161, 161);
}

.left {
    display: flex;
}

.left .logoCont {
    width: 200px; 
    height: 48px;
    margin-top: -8px;
}

.left div:last-child {
    color: white;
    height: 48px;
    padding: 13px 10px 0 10px;
    margin-left: 20px;
}

.right {
    display: flex;
    margin-right: 35px;
    height: 48px;
}

.right div {
    padding: 13px 17px 0 17px;
    color: white;
}

.right div:last-child {
    height: 30px;
    border-radius: 22px;
    background-color: white;
    color: black;
    margin-top: 9px;
    padding-top: 4px;
}

.right div:last-child::after {
    color: black;
}

.left div:last-child:hover, .right div:hover:not(.right div:last-child) {
    background-color: white;
    color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.left div:last-child::after, .right div::after{
    content: '\f107';
    font-weight: bold;
    padding-left: 7px;
    font-family: "FontAwesome";
    color: #fff;
}

.left div:last-child:hover::after, .right div:hover::after {
    content: '\f106';
    font-weight: bold;
    color: rgb(244, 74, 93);
}

.navigationBottom {
    padding: 0;
    border-bottom: solid 1px rgba(168, 167, 167, 0.435);
    background-color: white;
}

.style-1 {
    margin-bottom: 0;
    margin-top: 0 !important;
}

#navigation.style-1 ul a {
    padding: 1px 27px;
}

/* Header section Ends */


.findHouseSection {
    padding-top: 110px;
    margin-right: 10px;
    display: flex;
}

.findHouseSection > div:first-child {
    width: 70vw;
}

.findHouseSection div:first-child > h1 {
    font-family: 'Kalam', cursive;
    font-size: 37px;
    font-weight: 700;
    color: rgb(34, 33, 33);
    margin-bottom: 6px;
}

.findHouseSection .advertismentBlock {
    width: 25vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.384);
}

.findHouseSection .advertismentBlock  img{
    width: 25vw;
    height: 200px;
}

.findHouseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.findHouseSection h1{
    text-align: center;
}

.findHouseSection ul {
    list-style-type: none;
    display: flex;
}

.findHouseSection ul a {
    color: black;
    font-size: 23px;
}

.findHouseSection li {
    padding: 7px 12px;
}

.findHouseContainer .findHouseInput {
    border: 2px solid rgb(244, 74, 93);
    height: 70px;
    padding: 6px 18px;
    padding-top: 13px;
    border-radius: 50px;
    display: flex;
}

.findHouseNav a:hover {
    color: rgb(244, 74, 93);
} 

.location input {
    height: 40px;
    padding-left: 15px;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
}

.location input:focus {
    outline: none;
}

.budget .nice-select, .propertyType .nice-select {
    width: 150px !important;
    margin-left: 20px;
}

.budget ul {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    height: 200px;
    overflow-y: scroll !important;
}

.nice-select {
    padding-top: 5px;
}

.propertyType ul {
    display: flex;
    flex-direction: column;
    height: 200px;
    min-width: 150px;
    /* overflow-y: scroll !important; */
}

.searchBtnCont {
    margin-left: 20px;
}

.searchBtnCont button {
    border: none;
    border-radius: 24px;
    background-color: rgb(244, 74, 93);
    color: #fff;
    padding: 9px 35px;
}

.searchBtnCont button:focus {
    outline: none;
    background-color: rgb(212, 61, 79);
}

.searchBtnCont button:hover {
    background-color: rgb(212, 61, 79);
}
