* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Section Starts */
.cHeader {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
}

.navigationTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: rgb(161, 161, 161);
}

.left {
    display: flex;
}

.left .logoCont {
    width: 200px; 
    height: 48px;
    margin-top: -8px;
}

.left div:last-child {
    color: white;
    height: 48px;
    padding: 13px 10px 0 10px;
    margin-left: 20px;
}

.right {
    display: flex;
    margin-right: 35px;
    height: 48px;
}

.right div {
    padding: 13px 17px 0 17px;
    color: white;
}

.right div:last-child {
    height: 30px;
    border-radius: 22px;
    background-color: white;
    color: black;
    margin-top: 9px;
    padding-top: 4px;
}

.right div:last-child::after {
    color: black;
}

.left div:last-child:hover, .right div:hover:not(.right div:last-child) {
    background-color: white;
    color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.left div:last-child::after, .right div::after{
    content: '\f107';
    font-weight: bold;
    padding-left: 7px;
    font-family: "FontAwesome";
    color: #fff;
}

.left div:last-child:hover::after, .right div:hover::after {
    content: '\f106';
    font-weight: bold;
    color: rgb(244, 74, 93);
}

.navigationBottom {
    height: 35px;
    padding: 0;
    border-bottom: solid 1px rgba(168, 167, 167, 0.435);
    background-color: white;
}

.style-1 {
    margin-bottom: 0;
    margin-top: 0 !important;
}

#navigation.style-1 ul a {
    padding: 1px 27px;
}

/* Header section Ends */



.optionsDisplay {
    display: none;
    box-shadow: 0 3px 9px 0 rgb(48 48 48 / 20%);
    border: 1px solid #d7d7d7;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    padding: 10px 10px 10px 15px;
    height: auto;
}

#buyOptionsDisplay {
    width: 300px;
    margin-left: 151px;
}

#rentOptionsDisplay {
    width: 300px;
    margin-left: 260px;
}

#sellOptionsDisplay {
    width: 300px;
    margin-left: 375px;
}

#buyOptionsDisplay ul, #rentOptionsDisplay ul, #sellOptionsDisplay ul {
    list-style-type: none;
    border-top: solid 1px #d7d7d7;
    padding-top: 10px;
}

#responsive li:hover {
    background-color: transparent !important;
}

#responsive a:hover {
    height: 33px;
    color: black !important;
}

#responsive #buy a:hover, #responsive #rent a:hover, #responsive #sell a:hover {
    background-color: white;
    color: black;
    margin-top: 3px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px #d7d7d7;
    border-bottom: none;
}

#responsive #buy a::after, #responsive #rent a::after, #responsive #sell a::after {
    content: '\f107';
    font-weight: bold;
    padding-left: 7px;
    font-family: "FontAwesome";
    color: #000;
}

#responsive #buy a:hover::after, #responsive #rent a:hover::after, #responsive #sell a:hover::after {
    content: '\f106';
    font-weight: bold;
    color: rgb(244, 74, 93);
}


#buyOptionsDisplay p , #rentOptionsDisplay p, #sellOptionsDisplay p {
    margin-bottom: 0;
}

#buyOptionsDisplay p:hover ~ ul , #rentOptionsDisplay p:hover ~ ul, #sellOptionsDisplay p:hover ~ ul {
    border-top: solid 1px rgb(244, 74, 93);
}

#buyOptionsDisplay ul:hover , #rentOptionsDisplay ul:hover, #sellOptionsDisplay ul:hover {
    border-top: solid 1px rgb(244, 74, 93);
}